APP_URL=http://localhost:8080
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=blueaxis
DB_USERNAME=root
DB_PASSWORD=

ADMIN_EMAIL=admin@blueaxis.com
ADMIN_PASSWORD=ChangeMe123!
